@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=PT+Sans&family=PT+Mono&display=swap');

body {
	font: normal 100%/1.5 'PT Sans', sans-serif;
	background: #060606;
	color: #f8f8f8;
}

* {
	box-sizing: border-box;
}

a {
	color: rgb(15, 230, 126);
	text-decoration: none;
	opacity: 0.75;
}

a:hover {
	text-decoration: underline;
}

article {
	max-width: 680px;
	padding: 0 30px;
	margin: 3em auto;
	box-sizing: border-box;
}

article h1 {
	margin: 0;
}

article h1 b {
	font-family: 'Major Mono Display', sans-serif;
	font-size: 2.5em;
	display: block;
}

article p {
	margin-bottom: 1.5;
}

canvas {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: 1em 0;
	border: 1px solid #f8f8f8;
}

code {
	font-family: 'PT Mono', monospace;
}

ol li {
	font-size: 1.125em;
	line-height: 1.25;
	margin-bottom: 0.75em;
}

ol li::before {
	font-family: 'PT Mono', monospace;
	content: ">>> ";
}

.nav_pag{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5%;
    text-align: center;
    font-size: 80%;
}
